/* https://www.youtube.com/watch?v=75i5ytaa3s4 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,100;1,300;1,400;1,800&family=Open+Sans:ital@0;1&family=Slabo+27px&display=swap');
* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   outline:none ;
   font-family: 'Open Sans', sans-serif;

}
header{
  background: #580505;
}
body {
    background: url("background3.jpg") no-repeat top center;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-size: 16px;
}
.wrapper{
    width: 100%;
    padding: 10px;
}
.container {
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    background: #fff;
    padding: 20px 40px 30px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    border-top: 7px solid #576c7d;
}

.title {
    color: #576c7d;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    
}

nav{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #5a1254;
}
  nav-links ul{
    height: 100%;
    max-width: 1250px;
    background-color: rgb(70, 5, 70);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  .nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    background-color: rgb(70, 5, 70);
 
}

.nav-link ul li a{
  color: white;
  text-decoration: none;
  font: size 15px; 

}
.nav-link ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background:white;
  display: block;
  margin:auto ;
  transition: 0.5s ;
}
.nav-link ul li:hover::after{
width: 100%;
}



/* for input form marign to get space in the middle of input forms*/
.input-form,
.input-form .items{
    margin-bottom: 20px;

}
.input-form .label{
 display: block;
 font-size: 1em;
 color: #212121;
 text-transform: capitalize;
}
.input-form .input{
   background: transparent; 
   border: 2px solid #bdbdbd;
   width: 100%;
   padding: 10px;
   color:  #212121 ;
   border-radius: 3px;
}
.input-form .section-3{
    display: flex;
    justify-content: space-between;

}
.input-form .section-3 .items{
    width: 48%;
}
.btn {
    background: #576c7d ;
    color: #fff;
    font-size: 1.25em ;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
}
.cvc{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease ;
}
.cvc .tooltip {
    color: #d4d4d4;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;

}
.cvc .cvc-img {
    position: absolute;
    top: -300%;
    right: 0;
    background: #576c7d;
    padding: 12px;
    border-radius: 5px;
    display: none;

}
.cvc .cvc-img img{
    width: 100px;
    height: auto;
    display: none;
}
.cvc .tooltip:hover .cvc-img {
    display: block ;
}
@media screen  and (max-width: 460px){
    .input-form .section-3{
        flex-direction: column;
        
    }  
    .input-form .section-3 .items{
        width: 100%;
    }
    .input-form .items{
        margin-bottom: 15px;

    }
}

/*  <!--footer--> */

footer {
  position: absolute;
  left: 0;
  right: 0;
  background: #2e1c35;
  height:auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color:  #4124ad;
 
  
}
/*  <!--footer containt--> */

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h6{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto ;
  line-height: 28px;
  font-size: 14px;

}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(69, 48, 184);
}
.socials a i {
  font-size: 1.1rem ;
  transition: color .4s ease;
}
.socials a:hover i {
  color: rgb(23, 82, 33);

}
.footer-bottom {
  background: #2e1c35 ;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 12px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: 4;
  font-weight: 200;
}


